.container-sociais {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;

}

.iconRedesSociais {
    width: 40px;
    height: auto;
}

.iconRedesSociais+ :last-child {
    margin-right: 30px;
}

.iconRedesSociais:hover {
  box-shadow: rgba(10, 102, 194, 0.4) 0px 5px, rgba(10, 102, 194, 0.3) 0px 10px,
    rgba(10, 102, 194, 0.2) 0px 15px, rgba(10, 102, 194, 0.1) 0px 20px,
    rgba(10, 102, 194, 0.05) 0px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}