.avatar {
    width: 180px;
    height: 180px;
    /* background-image: url(../img/firstAvatar.svg); */
    background-image: url(../../../../public/firstAvatar.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  
  .avatar:hover {
    background-image: url(../../../../public/secondAvatar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: all ease 0.2s;
    /* -webkit-animation:rotate-scale-up .65s linear both;animation:rotate-scale-up .65s linear both */
  }